{% extends "base.html" %}

{% block title %}
Store Detail Page
{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f8f8f8;
        color: #333;
    }
    input[type="text"], select {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin: 10px 0;
        border-radius: 4px;
    }
    button:hover {
        background-color: #555;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    .infos {
            font-size: 24px;
            text-align: center;
    }
    table a:link, table a:visited {
        color: blue;
        text-decoration: none;
    }
</style>
<p class="infos">상점정보</p>
    <table id="store-detail-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Address</th>
        </thead>
        <tbody>
            {% for sd in store_detail %}
            <tr>
                <td>{{ sd.Name }}</td>
                <td>{{ sd.Type }}</td>
                <td>{{ sd.Address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="infos">월간 매출액</p>
    <table id="monthly-revenue-table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Revenue</th>
                <th>Count</th>
            </tr>
            </tr>
        </thead>
        <tbody>
            {% for smr in store_monthly_revenue %}
            <tr>
                <td>{{ smr.OrderMonth }}</td>
                <td>{{ smr.TotalRevenue }}</td>
                <td>{{ smr.OrderCount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="infos">단골 고객 목록</p>
    <table id="regular-customer-table">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Frequency</th>
            </tr>
            </tr>
        </thead>
        <tbody>
            {% for rc in regular_customers %}
            <tr>
                <td><a href="/crm/userdetail/?userid={{ rc.UserId }}">{{ rc.UserId }}</a></td>
                <td>{{ rc.Name }}</td>
                <td>{{ rc.VisitCount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
