<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function sendData() {
            event.preventDefault(); // 폼의 본연의 기본 기능을 비활성화
            
            const data = {
                name : documnet.getElementById('name').value,
                age : documnet.getElementById('age').value
            }
            
            console.log("이름: " + name + ", 나이: " + age);

            fetch('/user_json', {
                method: 'GET',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                
        }
    </script>
</head>
<body>
    <h1>쿼리 파라미터를 통한 데이터 전송</h1>
    <form action="/user" method="get">
        <input type="text" name="name" placeholder="이름">
        <input type="number" name="age" placeholder="나이">
        <input type="submit" value="Submit">
    </form>
    <h1>폼 파라미터 (포스트 방식) 를 통한 데이터 전송</h1>
    <form action="/user" method="post">
        <input type="text" name="name" placeholder="이름">
        <input type="number" name="age" placeholder="나이">
        <input type="submit" value="Submit">
    </form>
    <h1>폼을 JS를 통해 데이터 전송</h1>
    <form action="/user" method="post">
        <input type="text" id="name" name="name" placeholder="이름">
        <input type="number" id="age" name="age" placeholder="나이">
        <button onclick="sendData()">JS로 전송</button>
    </form>
</body>
</html>